<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"  >
<head> <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<nav>
    <div>
        <h2>Akademia</h2>
    </div>
    <ul >
        <li>
            <a th:href="@{/cars}">Cars</a>
        </li>
        <li>
            <a th:href="@{/engines}">Engines</a>
        </li>
        <li>
            <a th:href="@{/wheels}" >Wheels</a>
    </ul>
</nav>
<div >

    <div >
        <h2 >Engines</h2>
        <button>
            <a th:href="@{/engines/edit}">Add Engine</a>
        </button>

    </div>
</div>

<table>

<thead >
<tr>
    <th >ID</th>
    <th >Engine Power</th>
    <th >Engine Type</th>
    <th >
        <span >Edit</span>
    </th>
    <th>
    <span >Delete</span>
    </th>
</tr>
</thead>
<tbody>
<tr th:each="e: ${engines}">
    <th th:text="${e.id}"></th>
    <td th:text="${e.enginePower}"></td>
    <td th:text="${e.engineType}"></td>
    <td ><a th:href="@{/engines/edit?engine={engineId}(engineId=${e.id})}" >Edit</a></td>
    <td ><a th:href="@{/engines/{engineId}/delete(engineId=${e.id})}" >Delete</a></td>
</tr>

</tbody>
</table>
</body>
