<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<nav>
    <div>
        <h2>Akademia</h2>
    </div>
    <ul>
        <li>
            <a th:href="@{/cars}">Cars</a>
        </li>
        <li>
            <a th:href="@{/engines}">Engines</a>
        </li>
        <li>
            <a th:href="@{/wheels}">Wheels</a>
    </ul>
</nav>
<div>

    <div>
        <h2>Wheels</h2>
        <button>
            <a th:href="@{/wheels/edit}">Add Wheel</a>
        </button>

    </div>
</div>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Wheel Size</th>
        <th>Wheel Type</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="w: ${wheels}">
        <td th:text="${w.id}"></td>
        <td th:text="${w.size}"></td>
        <td th:text="${w.wheelType}"></td>
        <td><a th:href="@{/wheels/edit?wheel={wheelId}(wheelId=${w.id})}">Edit</a></td>
        <td><a th:href="@{/wheels/{wheelId}/delete(wheelId=${w.id})}">Delete</a></td>
    </tr>


    </tbody>
</table>
</body>
