<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"  >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
<div class="bg-gray-800  shadow-lg py-5 px-7">
    <nav class="flex justify-between">
        <div class="flex items-center space-x-3 lg:pr-16 pr-6">
            <img class="cursor-pointer bg-white p-1 rounded-full" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/header-1-svg1.svg" alt="circle" />
            <h2 class="font-normal text-2xl leading-6 text-white">Akademia</h2>
        </div>
        <div class=" w-full md:block md:w-auto" id="navbar-default">
            <ul class="font-medium flex  p-4 mt-4 rounded-lg   md:space-x-8 md:mt-0 md:border-0 ">
                <li>
                    <a th:href="@{/cars}" class="block py-2 pl-3 pr-4 text-white  rounded " aria-current="page">Cars</a>
                </li>
                <li>
                    <a th:href="@{/cars/engine}" class="block py-2 pl-3 pr-4 text-white  rounded " aria-current="page">Engines</a>
                </li> <li>
                <a th:href="@{/cars/wheels}" class="block py-2 pl-3 pr-4 text-white  rounded " aria-current="page">Wheels</a>
            </ul>
        </div>
    </nav>
</div>
<!-- Code block header starts -->
<div class="container mx-auto max-w-2xl">
    <div class="my-6 lg:my-12 container px-6 mx-auto flex flex-col md:flex-row items-start md:items-center justify-between pb-4 border-b border-bl">
        <div
                class="text-2xl font-bold leading-tight text-gray-800">Car Registration</h4>

        </div>

    </div>
</div>
<!-- Code block header end -->

<!-- Code block form start -->
<form  class="container mx-auto px-4 py-5 max-w-2xl">

    <div class="grid md:grid-cols-2 md:gap-6">
        <input   type="hidden"
               class="block py-2 px-1 w-full border-2 border-gray-800"/>


        <div class="relative z-0 w-full mb-6 group">
            <input  type="text"
                    placeholder="Car Name "
                    class="block py-2 px-1 w-full border-2 border-gray-800"/>
        </div>
        <div class="relative z-0 w-full mb-6 group">
            <input  type="text"
                    placeholder="Car Type"
                    class="block py-2 px-1 w-full border-2 border-gray-800 text" />
        </div>
    </div>
    <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
            <input  type="text"
                    placeholder="From Year "
                    class="block py-2 px-1 w-full border-2 border-gray-800"/>
        </div>
        <div class="relative z-0 w-full mb-6 group">
            <input  type="text"
                    placeholder="To Year"
                    class="block py-2 px-1 w-full border-2 border-gray-800 text" />
        </div>
    </div>
    <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
            <select class="block py-2 px-2 w-full text-sm border-2 border-gray-800" >
                <option disabled selected>Select car engine type</option>
<!--                <option th:each="e : ${engines}" th:value="${e.id}" th:text="${e.type}">Albania</option>-->

            </select>
        </div>
        <div class="relative z-0 w-full mb-6 group">
            <select class="block py-2 px-2 w-full text-sm border-2 border-gray-800" >
                <option disabled selected>Select car wheels type</option>
<!--                <option th:each="w : ${wheels}" th:value="${w.id}" th:text="${w.type}">Albania</option>-->
            </select>
        </div>
    </div>

    <button type="submit"  class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-xl px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 w-full">
        Submit</button>
</form>
<!-- Code block form end -->
</body>
