<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"  >
<head> <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <div class="bg-gray-800  shadow-lg py-5 px-7">
        <nav class="flex justify-between">
            <div class="flex items-center space-x-3 lg:pr-16 pr-6">
                <img class="cursor-pointer bg-white p-1 rounded-full" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/header-1-svg1.svg" alt="circle" />
                <h2 class="font-normal text-2xl leading-6 text-white">Akademia</h2>
            </div>
            <div class=" w-full md:block md:w-auto" id="navbar-default">
                <ul class="font-medium flex  p-4 mt-4 rounded-lg   md:space-x-8 md:mt-0 md:border-0 ">
                    <li>
                        <a th:href="@{/cars}" class="block py-2 pl-3 pr-4 text-white  rounded " aria-current="page">Cars</a>
                    </li>
                    <li>
                        <a th:href="@{/cars/engine}" class="block py-2 pl-3 pr-4 text-white  rounded " aria-current="page">Engines</a>
                    </li> <li>
                    <a th:href="@{/cars/wheels}" class="block py-2 pl-3 pr-4 text-white  rounded " aria-current="page">Wheels</a>
                </ul>
            </div>
        </nav>
</div>
<div class="sm:px-6 w-full">

    <div class="bg-white py-4 ">
        <div class="sm:flex items-center justify-between">
            <div class="flex items-center">
                <div class="text-xl text-black rounded-full">
                    <p class="text-2xl text-black uppercase   ">CARS</p>
                </div>
            </div>
            <button  class="focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 mt-4 sm:mt-0 inline-flex items-start justify-start px-6 py-3 bg-gray-800 hover:bg-gray-600 focus:outline-none rounded">
                <a th:href="@{/cars/form}" class="text-sm font-medium leading-none text-white">Add Car</a>
            </button>
        </div>

    </div>
</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-black uppercase bg-gray-200  ">
        <tr>
            <th scope="col" class="px-6 py-3">
                ID
            </th>
            <th scope="col" class="px-6 py-3">
                Name
            </th>
            <th scope="col" class="px-6 py-3">
                From year
            </th>
            <th scope="col" class="px-6 py-3">
                To Year
            </th>
            <th scope="col" class="px-6 py-3">
                Type
            </th>

            <th scope="col" class="px-6 py-3">
                Engine Power
            </th>
            <th scope="col" class="px-6 py-3">
                Engine Type
            </th>
            <th scope="col" class="px-6 py-3">
                Wheels Size
            </th>
            <th scope="col" class="px-6 py-3">
                Wheels Type
            </th>
            <th scope="col" class="px-6 py-3">
                <span class="sr-only">Edit</span>
            </th>
            <th scope="col" class="px-6 py-3">
                <span class="sr-only">Delete</span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="bg-white border-b ">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                1
            </th>
            <td class="px-6 py-4 text-gray-900">
                Aspire
            </td>
            <td class="px-6 py-4 text-gray-900">
                1994
            </td>
            <td class="px-6 py-4 text-gray-900">
                1997
            </td>
            <td class="px-6 py-4 text-gray-900">
                subcompact
            </td>
            <td class="px-6 py-4 text-gray-900">
                1400
            </td>
            <td class="px-6 py-4 text-gray-900">
                GAS
            </td>
            <td class="px-6 py-4 text-gray-900">
                R15
            </td>
            <td class="px-6 py-4 text-gray-900">
                STEEL
            </td>
            <td class="px-6 py-4 text-right">
                <a href="#" class="font-medium text-black hover:underline">Edit</a>
            </td>
            <td class="px-6 py-4 text-right ">
                <a href="#" class="font-medium text-black hover:underline">Delete</a>
            </td>
        </tr>

        </tbody>
    </table>
</div>
</body>
